[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
pytest = "*"
pycodestyle = "*"
cpp-coveralls = "*"
numpy = "*"
PyYAML = "==4.2b4"
basis_set_exchange = "*"

[dev-packages]
